
.wrapper{
    width: 48rem;
    height: 16rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    padding: 0.8rem 1.4rem;
    direction: rtl;
}

.text{
    margin-top: 4rem;
    font-size: 1.5rem;
}