@font-face{
	font-family: IranSans;
	font-style: normal;
	font-weight: 400;
	src: url("/bundle/IRANSansWeb.woff2") format("woff2");
}
@font-face {
	font-family: IranSansFaNum;
	font-style: normal;
	font-weight: 400;
	src: url("/bundle/IRANSansWeb\(FaNum\).woff") format("woff");
}

.faNum{
  font-family: IranSansFaNum !important;
}

*{
  font-family: IranSans;
}